<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Ripple</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css?v=<%= timestamp %>" />
  <link rel="icon" href="/images/favicon.ico">
</head>
<body>
  <div id="application-container">
  </div>
  <script>
    environment = '<%= environment %>'
  </script>
  <script src="<%= scripts.app %>?v=<%= timestamp %>"></script>
</body>
</html>