.navigation-bar {
    display: block;
    background: white;
    border-bottom: 2px solid black;
}

.navigation-list-item {
    list-style: none;
    display: inline-block;
    padding: 8px;
}

.navigation-link {
    text-decoration:  none;
    color: blue;    
}

.demo-panel img {
    width: 100%;
}